@model System.Collections.Generic.List<Practice_Project.Entities.Student>

@{
    ViewBag.Title = "Students";
    Layout = "_Layout";
}

<div class="container-fluid py-4">
    <div class="d-flex flex-colum flex-md-row justify-content-between align-items-start align-item-md-center mb-4 gap-3">
        <div>
            <h2 class="text-primary mb-1 fw-bold">
                <i class="bi bi-person-badge-fill me-2"></i>Students Management
            </h2>
            <p class="text-black-nuted mb-0">Total Students : <strong>@Model.Count()</strong></p>
        </div>
        <a asp-action ="Create" class ="btn btn-success btn-lg shadow-sm">
            <i class ="bi bi-person-plus-fill"></i>Add New Student
        </a>
    </div>
    
    @*Search Box *@
    <div class="card shadow-sm mb-4 border-0">
        <div class="card-body">
            <div class="input-group input-group-lg">
                <span class="input-group-text bg-white border-end-0">
                    <i class ="bi bi-search>"></i>
                </span>
                <input type="text" id="searchInput" class="form-control border-start-0" placeholder="Search by name, email, or roll number..." onkeyup="filterTable()" />            </div>
        </div>
    </div>
</div>

@*Responsive Table*@
<div class="table-responsive">
    <table class="talbe table-hover align-middle" id="studentsTable">
        <thead class="table-primary">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>  Email </th>
            <th> Phone  </th>
            <th> Roll Number  </th>
            <th>  Status </th>
            <th>  Books Issued </th>
            <th class="text-center"> Actions  </th>
        </tr>
        </thead>
        
        <tbody>
        @foreach (var student in Model.OrderBy(s => s.Name))
        {
            <tr class="student-item">
                <td><strong>@student.StudentId</strong></td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="bg_primary text-white reouded-circle d-flex align-item-center jsutify-content-center me-3" style="Width:45px;height:45px;font-size:1.2rem;"></div>
                        @(student.Name.Split(' ').FirstOrDefault()?.First().ToString().ToUpper().ToUpper()?? "S")
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>