@model Practice_Project.Models.Authors
<h2>Edit Author</h2>
<hr />

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="AuthorId" />

    <div class="form-group mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Biography" class="form-label"></label>
        <textarea asp-for="Biography" class="form-control"></textarea>
        <span asp-validation-for="Biography" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}